@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color:#0a0a0a;
  color: white;
  font-family:'outfit';
}

:root {
  font-family: "Inter", sans-serif;
}
